# Example systemd service file for castblock-php

# Installation either copy the phar to /usr/bin/ first, or modify the ExecStart line to refer to the location of the phar
# $ cp castblock-php.phar /usr/bin/
# copy this castblock.service file into your services directory (on Raspbian, something like /etc/systemd/system/castblock.service )

# Usage: 
# -- Start service --
# systemctl start castblock
# -- Stop service --
# systemctl stop castblock
# -- Enable run at startup and restarts --
# systemctl enable castblock
# -- View Status --
# systemctl -l status castblock
# -- View Logs --
# sudo journalctl -u

[Unit]
After=network.target

[Service]
ExecStart=php /usr/bin/castblock-php.phar -vv
DynamicUser=yes
Restart=always
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=multi-user.target
